/*
 * @FileDesc: 子组件样式
 */

.demo-drawer__children {
    display: flex;
    flex-direction: column;
    gap: 50px 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 500px;
    padding: 20px;

    &__desc {
        color: #333;
        font-weight: bold;
        font-size: 24px;
        text-align: center;
    }

    &__buttons {
        display: flex;
        gap: 0 16px;
        align-items: center;
        justify-content: center;

        .ant-btn {
            min-width: 80px;
        }
    }
}
