/*
 * @FileDesc: 表单样式
 */

.form {
    :global(.ant-form-item) {
        margin-bottom: 40px;

        &:first-of-type {
            margin-bottom: var(--form-item-margin-bottom);
        }
    }

    &__actions {
        display: flex;
        gap: 0 12px;
    }
}
