/*
 * @FileDesc: 登录页样式
 */

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 50px;

    &__main {
        width: 100%;
        max-width: 300px;

        &__title {
            margin-bottom: 8px;
            font-size: 26px;
            text-align: center;
        }

        &__desc {
            margin-bottom: 32px;
            color: var(--color-text-secondary);
            font-size: 16px;
            text-align: center;
        }
    }
}
